<fieldset>
  <legend><img id="imglogin" src="assets/img/login3.png" height=100 width=100></legend>
  <h1>Acesso ao Sistema</h1>
  <form [formGroup]="form" name="formCad" novalidate="novalidate" (ngSubmit)="onSignin()">
    <div class="acesso">
      <div class="colunas col1">
          <label for="email" data-error="Invalid email" class="texto pointer">Email</label>
      </div>
      <div class="colunas col2">
        <input type="email" class="validate campo" id="email" formControlName="email" maxlength="30" min="1"
        placeholder="Digite seu nome de usuário" title="Digite seu nome de usuário" required 
        [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid" />
      </div>
      <div class="colunas col1">
          <label for="password" data-error="Password is mandatory" class="texto pointer">Senha</label>
      </div>
      <div class="colunas col2">
        <input type="password" class="validate campo pass" id="password" formControlName="password" maxlength="8" 
        placeholder="Digite sua senha" title="Digite sua senha com no máximo 8 caracteres" required
        [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid" />

        <img src="assets/img/eye.png" id="vesenha1" onmousedown="mostraPass1()" onmouseup="escondePass1()"
          title="Mostrar a senha">
      </div>
    </div>
    <div name="botao" class="botao">
      <input type="submit" class="button pointer" value="Cadastrar" name="Entrar" title="Clique para cadastrar" [disabled]="!form.valid" />
    </div>
  </form>
</fieldset>

<!--
<h5>Login</h5>
<div class="row">
  <form [formGroup]="form" (ngSubmit)="onSignin()">
    <div class="row">
      <div class="form-group">
        <input id="email" type="email" class="validate" formControlName="email"
          [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email" data-error="Invalid email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <input id="password" type="password" class="validate" formControlName="password"
          [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
        <label for="password" data-error="Password is mandatory">Password</label>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Entrar</button>
      </div>
    </div>
  </form>
</div>
-->